<a href="https://colab.research.google.com/github/Vaidehi1005/Python-for-AI/blob/main/PythonCodes_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = int(input("Enter the number"))
#even or odd
if num % 2 == 0:
    print("Even number")
else :
    print("Odd number")

Enter the number9
Odd number

In [ ]:
num = int(input("Enter the number"))
#even or odd
if num>0:
    if num % 2 == 0:
        print(" Positive Even number")
    else :
        print("Positive Odd number")
else :
    print("Negative number")

Enter the number-89
Negative number

In [ ]:
#among of 3 greatest number
a =int(input("Enter a"))
b =int(input("Enter b"))
c=int(input("Enter c"))
if a>b and a>c:
    print("a is greatest")
elif b>a and b>c:#ELSE IF
    print("b is greatest")
else :
    print("c is greatest")

Enter a7
Enter b90
Enter c8
b is greatest

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#for 1 to 10
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#print 6 to 10
for i in range(6,11):
  print(i)

6
7
8
9
10

In [ ]:
#while loop to count digits of a num
num =int(input("Enter the number"))
count=0
while num!=0:
    num=num//10
    count=count+1
print(count)

Enter the number899
3

In [ ]:
#calculate simple interest function
p=int(input("enter p:"))
r=int(input("enter r:"))
t=int(input("enter t:"))
def si(p,r,t):
    simpint = p*r*t/100
    print(simpint)
si(p,r,t)

enter p:2
enter r:4
enter t:2
0.16

In [ ]:
#take a list of 4 items,use for loop to retrive the item(names)
list=["vac","abc","ice","dog"]
for i in list:
    print(i)

vac
abc
ice
dog

In [ ]:
#make function to calculate area of square
side = int(input("Enter the side"))
def area(side):
    Area=side*side
    print(Area)
area(side)

Enter the side23
529

In [ ]:
#define function to add two numbers
a=int(input("enter a"))
b=int(input("enter b"))
def add(a,b):
    sum =a+b
    print(sum)
add(a,b)

enter a2
enter b5
7

In [ ]:
#define function to find even odd
no = int(input("enter no"))
def eo(no):
    if no % 2 ==0:
        print("even")
    else:
        print("odd")
eo(no)

enter no46
even

In [ ]:
#function to find out factorial of a number
num = int(input("enter num"))
def fact(num):
    if num<2:
        return 1
    else:
        return num*fact(num-1)
fact(num)

enter num5

120

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
#house prediction
import pandas as pd
df=pd.read_csv("/content/House_Rent_Dataset.csv")
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [ ]:
#class and objects
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
person1=Person("Alice",30)
print(person1.name)

Alice

In [ ]:
class Car:
  def __init__(self,make,model,year):
    self.make=make
    self.model=model
    self.year=year
  def display_info(self):
    print(f"{self.year} {self.make} {self.model}")
#creating an object of the class
my_car=Car("Toyota","Corolla",2000)
#Display
my_car.display_info()

2000 Toyota Corolla

In [ ]:
#single inheritance - a subclass or child class inherits from only one parent class
class Animal:#parent class
  def speak(self):#self is use for allocating memory
    print("Animal speaks")
class Dog(Animal):#child class
  def speak(self):
    print("Dog barks")
dog=Dog()
dog.speak()

Dog barks

In [ ]:
#multiple inheritance
class Animal:
  def speak(self):
    print("Animal speaks")
class Mammal:
  def walk(self):
    print("Mammal runs")
class Dog(Animal,Mammal):
  def speak(self):
    print("Dog barks")
dog=Dog()
dog.speak()
dog.walk()

Dog barks
Mammal runs

In [ ]:
#multilevel inheritance
class Animal:
  def speak(self):
    print("Animal speaks")
class Dog(Animal):
  def speak(self):
    print("Dog barks")
class Puppy(Dog):
  def play(self):
    print("Puppy plays")
puppy=Puppy()
puppy.speak()
puppy.play()

Dog barks
Puppy plays

In [ ]:
#hierarchical inheritance = multiple subclasses inherit from a single parent class
class Animal:
  def speak(self):
    print("Animal speaks")
class Dog(Animal):
  def speak(self):
    print("Dog barks")
class Cat(Animal):
  def speak(self):
    print("Cat meows")
dog=Dog()
cat=Cat()
dog.speak()
cat.speak()

Dog barks
Cat meows

In [ ]:
#class ma aapde methods and functions bind karie so e badha object ma use karie che
#objects e real time objects che jm k human car etc...

In [ ]:
#hybrid inheritance-a mix of multiple types of inheritance,two different type of inheritance is called hybrid

In [ ]:
#super()
class Animal:
  def __init__(self,name):
    self.name=name

class Dog(Animal):
  def __init__(self, name,breed):
    super().__init__(name)
    self.breed = breed

dog = Dog("Buddy","Golden Retriever")
print(dog.name)
print(dog.breed)

Buddy
Golden Retriever

In [ ]:
#constructor inheritance
#parent class
class Animal:
  def __init__(self, name, species):
    self.name=name
    self.species=species
#child class
class Dog(Animal):
  def __init__(self, name, breed):
    super().__init__(name,"Dog")
    self.breed=breed

  def display_info(self):
    print(f"{self.name} is a {self.species} and is a {self.breed}")

#Create an instance of dog
dog = Dog("Buddy", "Golden Retriever")
dog.display_info()

Buddy is a Dog and is a Golden Retriever

In [ ]:
#Polymorphism
#class demonstrating Compile-time Polymorphism via default arguments

class Calculator:
  def add(self,*args):
     return sum(args)

#Create an instance of the calculator class

calc= Calculator()

#Calling the 'add' method with different numbers of arguments
print("Sum of 10 and 20:",calc.add(10,20))
print("Sum of 10,20 and 30:",calc.add(10,20,30))
print("Sum of 10.5 and 20.5",calc.add(10.5,20.5))

Sum of 10 and 20: 30
Sum of 10,20 and 30: 60
Sum of 10.5 and 20.5 31.0

In [ ]:
#Run time polymorphism
class Animal:
  def sound(self):
    print("Animal makes a sound")

#subclass dog overrides the sound method
class Dog(Animal):
  def sound(self):
    print("Dog barks")

#subclass Cat overrides the sound method
class Cat(Animal):
  def sound(self):
    print("Cat meows")

#demonstrating runtime polymorphism
def animal_sound(animal:Animal):
  animal.sound() #this method called depends on the object type

#Create instances of Dog and Cat
my_dog=Dog()
my_cat=Cat()
my_animal=Animal()

animal_sound(my_dog)
animal_sound(my_cat)
animal_sound(my_animal)

Dog barks
Cat meows
Animal makes a sound

In [ ]:
#abstraction
#decorator aapde ek method che je k che kai method che and ene badha data nathi aapvano bus je important che ej data aapse
#abc stands for abstract base class ej pela thi define che ej use karvanu dar vakhte abstraction vakhte and e module che and koi function ne absrtact karavu hoi to ene decorator use karvanu
from abc import ABC,abstractmethod

class Animal(ABC):
  @abstractmethod
  def sound(self):pass

  @abstractmethod
  def move(self):pass

class Dog(Animal):
  def sound(self):print("Dog barks")
  def move(self):print("Dog runs")

dog=Dog()
dog.sound()
dog.move()

#abstractmethod je che define kare che ke e function ma abstract method use karie che and pass lakhie che

Dog barks
Dog runs

In [ ]:
class Point:
  def __init__(self,x,y):
    self.x=x
    self.y=y

  def __add__(self,other):
    return Point(self.x+other.x,self.y+other.y)


p1=Point(1,2)
p2=Point(3,4)
result=p1+p2
print(result.x,result.y)

4 6

In [ ]:
#file handling
#read a file
with open('first.txt','r') as file:
  content=file.read()
  print(content)

Quod equidem non reprehendo;
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quibus natura iure responderit non esse verum aliunde finem beate vivendi, a se principia rei gerendae peti; Quae enim adhuc protulisti, popularia sunt, ego autem a te elegantiora desidero. Duo Reges: constructio interrete. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto. Bestiarum vero nullum iudicium puto. Nihil enim iam habes, quod ad corpus referas; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Et homini, qui ceteris animantibus plurimum praestat, praecipue a natura nihil datum esse dicemus?

Iam id ipsum absurdum, maximum malum neglegi. Quod ea non occurrentia fingunt, vincunt Aristonem; Atqui perspicuum est hominem e corpore animoque constare, cum primae sint animi partes, secundae corporis. Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. Equidem e Cn. An dubium est, quin virtus ita maximam partem optineat in rebus humanis, ut reliquas obruat?

Quis istum dolorem timet?
Summus dolor plures dies manere non potest? Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P. Quod si ita sit, cur opera philosophiae sit danda nescio.

Ex eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia.
Quod si ita est, sequitur id ipsum, quod te velle video, omnes semper beatos esse sapientes. Cum enim fertur quasi torrens oratio, quamvis multa cuiusque modi rapiat, nihil tamen teneas, nihil apprehendas, nusquam orationem rapidam coerceas. Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. At quanta conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur eos, qui audiunt, vides. Vide, ne magis, inquam, tuum fuerit, cum re idem tibi, quod mihi, videretur, non nova te rebus nomina inponere. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Si ista mala sunt, in quae potest incidere sapiens, sapientem esse non esse ad beate vivendum satis. At vero si ad vitem sensus accesserit, ut appetitum quendam habeat et per se ipsa moveatur, quid facturam putas?

Quem si tenueris, non modo meum Ciceronem, sed etiam me ipsum abducas licebit.
Stulti autem malorum memoria torquentur, sapientes bona praeterita grata recordatione renovata delectant.
Esse enim quam vellet iniquus iustus poterat inpune.
Quae autem natura suae primae institutionis oblita est?
Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt;
Hoc est non modo cor non habere, sed ne palatum quidem.
Voluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum; Sed tu istuc dixti bene Latine, parum plane. Nam haec ipsa mihi erunt in promptu, quae modo audivi, nec ante aggrediar, quam te ab istis, quos dicis, instructum videro. Fatebuntur Stoici haec omnia dicta esse praeclare, neque eam causam Zenoni desciscendi fuisse. Non autem hoc: igitur ne illud quidem. Ratio quidem vestra sic cogit. Cum audissem Antiochum, Brute, ut solebam, cum M. An quod ita callida est, ut optime possit architectari voluptates?

Idemne, quod iucunde?
Haec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Sed quoniam et advesperascit et mihi ad villam revertendum est, nunc quidem hactenus; Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Neque solum ea communia, verum etiam paria esse dixerunt. Sed nunc, quod agimus; A mene tu?

In [ ]:
#write a file
with open('first.txt','w') as file:
  file.write("Hello world!")

In [ ]:
with open('first.txt','a') as file:
  file.write("Hello world!")
with open('first.txt','r') as file:
  content=file.read()
  print(content)

Hello world!Hello world!Hello world!Hello world!